{% extends "layout-with-search.html" %}

{% block page_title %}
  Browse data
{% endblock %}

{% import "includes/macros.html" as macro %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/resources">Home</a></li>
      <li><a href="/resources/data">Data</a></li>
      <li>Browse</li>
    </ol>
  </div>

  <h1 class="heading-xlarge">Browse data</h1>

  <hr>

  <div class="search-items grid-row">
    <div class="column-one-third">


<!--
      <fieldset class="search-filter">
        <legend>Name</legend>
          
          <div class="form-group">
            <label class="visuallyhidden">
              Name
            </label>
            <input type="text" class="form-field">
          </div>

      </fieldset>
    -->

      {{ macro.filterPanels({
        filters: [
          {
            name:        "Type",
            options:     ["Register", "Data set"]
          },
          {
            name:        "Registrar",
            options:     ["Home Office", "Ministry of Justice", "Food Standards Agency", "Office for National Statistics"]
          },
          {
            name:        "Tag",
            options:     ["Education", "Mapping", "Food", "Business", "Health"]
          }
        ]
      })}}

    </div>
    <div class="column-two-thirds">
      <p class="font-xsmall">237 results found</p>

      {% include "includes/data-search.html" %}
      {% include "includes/data-search.html" %}
      {% include "includes/data-search.html" %}
      {% include "includes/data-search.html" %}

    </div>
  </div>

  



</main>

{% endblock %}


