
<hr>

<h2 id="discussion" class="heading-xlarge">
Discussion
</h2>

<p>
  Contribute to the development of this guidance by discussing it here.
</p>
<br>

<div class="grid-row">

  <div class="column-two-thirds">

    <div class="edit-controls">
      <ul>
        <li><a href="#">Edit</a></li>
      </ul>
    </div>
    <div class="discussion" contenteditable=true>
        Edit this text to start the discussion
    </div>

  </div>
  <div class="column-third font-xsmall">

    <br>
    <p class="font-xsmall text-secondary">
      This is not formal Cabinet Office guidance.
      All views expressed are those of the individual contributors. 
    </p>

  </div>

</div>