{{ macro.patternList({

  items: [
    {
      name:         "Layout"
    },
    {
      name:         "Colour"
    },
    {
      name:         "Typography"
    },
    {
      name:         "Headings"
    },
    {
      name:         "Paragraphs"
    },
    {
      name:         "Links"
    },
    {
      name:         "Lists"
    },
    {
      name:         "Data"
    },
    {
      name:         "Tables"
    },
    {
      name:         "Images"
    },
    {
      name:         "Icons"
    },
    {
      name:         "Video"
    },
    {
      name:         "Tabs"
    },
    {
      name:         "Accordions"
    },
    {
      name:         "File upload"
    },
    {
      name:         "File download"
    },
    {
      name:         "Show-hide"
    },
    {
      name:         "Help text"
    },
    {
      name:         "Breadcrumbs"
    },
    {
      name:         "Side navigation"
    },
    {
      name:         "Back links"
    },
    {
      name:         "Pagination"
    },
    {
      name:         "Page links"
    },
    {
      name:         "Progress indicator"
    },
    {
      name:         "Buttons"
    },
    {
      name:         "Checkboxes"
    },
    {
      name:         "Errors and validation"
    },
    {
      name:         "Form structure"
    },
    {
      name:         "Form labels"
    },
    {
      name:         "Radio buttons"
    },
    {
      name:         "Select boxes"
    },
    {
      name:         "Text fields"
    },
    {
      name:         "Type-ahead"
    },
    {
      name:         "Addresses"
    },
    {
      name:         "Businesses"
    },
    {
      name:         "Contact preferences"
    },
    {
      name:         "Countries"
    },
    {
      name:         "Credit card details"
    },
    {
      name:         "Dates"
    },
    {
      name:         "Email addresses"
    },
    {
      name:         "Gender and sex"
    },
    {
      name:         "Health conditions"
    },
    {
      name:         "Money"
    },
    {
      name:         "National insurance number"
    },
    {
      name:         "Numbers"
    },
    {
      name:         "Names"
    },
    {
      name:         "Passports"
    },
    {
      name:         "Passwords"
    },
    {
      name:         "Postcodes"
    },
    {
      name:         "Reference numbers"
    },
    {
      name:         "Telephone numbers"
    },
    {
      name:         "Times"
    },
    {
      name:         "Usernames"
    },
    {
      name:         "Page header"
    },
    {
      name:         "Page footer"
    },
    {
      name:         "Start page"
    },
    {
      name:         "Question page"
    },
    {
      name:         "Check your answers page"
    },
    {
      name:         "Confirmation page"
    },
    {
      name:         "Overview page"
    },
    {
      name:         "Error page"
    },
    {
      name:         "Terms and conditions page"
    },
    {
      name:         "Data protections page"
    },
    {
      name:         "Guide page"
    },
    {
      name:         "Browse page"
    },
    {
      name:         "Search results"
    },
    {
      name:         "Register"
    },
    {
      name:         "Sign in"
    },
    {
      name:         "Sign out"
    },
    {
      name:         "Account recovery"
    },
    {
      name:         "Email verification"
    },
    {
      name:         "2 factor authentication"
    },
    {
      name:         "Digital signatures"
    },
    {
      name:         "Knowledge-based verification"
    },
    {
      name:         "Apply for something"
    },
    {
      name:         "Book an appointment"
    },
    {
      name:         "Pay for something"
    },
    {
      name:         "Verify your identity"
    },
    {
      name:         "Case management"
    },
    {
      name:         "Content publishing"
    },
    {
      name:         "Service administration"
    },
    {
      name:         "Reporting"
    },
    {
      name:         "Email"
    },
    {
      name:         "SMS"
    },
  ]
        
})}}


