// GOV.UK front end toolkit dependencies
@import "colours";
@import "shims";
@import "measurements";
@import "typography";
@import "css3";
@import "url-helpers";
@import "grid_layout";

// Prototype meta styles
@import 'patterns/prototype';

// Styles
@import 'patterns/styles';

// Patterns
@import 'patterns/homepage-header';
@import 'patterns/search-filters';
@import 'patterns/examples';
@import 'patterns/tabs';
@import 'patterns/discussion';
@import 'patterns/numbered-guidelines';
@import 'patterns/user-journey';
@import 'patterns/guide-header';
@import 'patterns/full-width';
@import 'patterns/search-in-header';
@import 'patterns/related-links';
@import 'patterns/numbered-headings';
@import 'patterns/follow-links';
@import 'patterns/page-contents';

// Pages
@import 'patterns/check-your-answers-page';
@import 'patterns/style-guide-page';
@import 'patterns/browse-and-search-pages';
@import 'patterns/unbranded-page';


.metadata{
	font-size: 14px;
    line-height: 1.42857;    
    font-weight: 400;
    text-transform: none;
    margin-bottom: 2em;
    dt{
    	padding-right: 10px;
	    float: left;
	    clear: left;
	    width: auto;
	    min-width: 120px;
    }
    dd{
    	width: 70%;
    	float: left;
    }
}

.with-search-and-proposition{
	&#global-header .header-wrapper .header-global .header-logo {
	 	width: 33.33%;
	}
	.proposition{
		color: white;
		text-decoration: none;
		font-size: 24px;
		font-weight: bold;
		vertical-align: text-top;
	}
}