// EMAIL ALERTS

.follow-guide,
.follow-discussion{

  float: right;
  margin: 0;
  font-size: 16px;
  position: relative;

  a,
  a:visited{
    //text-decoration: none;
    color: $text-colour;
    background: url(/public/images/mail-icon.png) 0 40% no-repeat;
    padding-left: 30px;    
  }

}

.follow-guide{ 
  top: 15px;
}

