{% extends "layout-with-search.html" %}

{% block page_title %}
  GOV.UK Platform
{% endblock %}

{% import "includes/macros.html" as macro %}

{% block content %}


<main id="content" role="main">

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/resources">Home</a></li>
      <li><a href="/resources/code">Code</a></li>
      <li>Browse</li>
    </ol>
  </div>

  <h1 class="heading-xlarge">Browse code</h1>

  <hr>

  <div class="search-items grid-row">
    <div class="column-one-third">

      {{ macro.filterPanels({
        filters: [
          {
            name:        "Language",
            options:     ["HTML", "Ruby", "Node", "PHP"]
          },
          {
            name:        "Developer",
            options:     ["GDS", "MoJ", "DWP", "Home Office"]
          },
          {
            name:        "Tag",
            options:     ["API", "Mapping", "Email", "Front-end", "Security"]
          }
        ]
      })}}

    </div>
    <div class="column-two-thirds">
      <p class="font-xsmall">237 results found</p>

      {% include "includes/code-search.html" %}
      {% include "includes/code-search.html" %}
      {% include "includes/code-search.html" %}
      {% include "includes/code-search.html" %}

    </div>
  </div>

  



</main>

{% endblock %}


