{% extends "layout-with-search.html" %}

{% block page_title %}
  Design resources
{% endblock %}

{% import "includes/macros.html" as macro %}

{% block content %}


<main id="content" role="main">

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/resources">Home</a></li>
      <li>Design</li>
    </ol>
  </div>

  <h1 class="heading-xlarge">
    Design resources
  </h1>

<div class="grid-row">
    <div class="column-third">

      <h2 class="heading-medium">
        <a href="/resources/design/principles">Design principles</a>
      </h2>

      <p>10 principles for designing user centred public services</p>

    </div>

    <div class="column-third">

      <h2 class="heading-medium">
        <a href="/resources/design/patterns">Design patterns</a>
      </h2>

      <p>Service patterns, interaction patterns and design guides</p>

    </div>

    <div class="column-third">

      <h2 class="heading-medium">
        <a href="/resources/design/patterns">Prototype kit</a>
      </h2>

      <p>Make HTML prototypes using GOV.UK styles and patterns</p>

    </div>

    <div class="column-third">

      <h2 class="heading-medium">
        <a href="/resources/design/content-style-guide">Content style guide</a>
      </h2>

      <p>Create content with a consistent style and tone of voice</p>

    </div>

    <div class="column-third">

      <h2 class="heading-medium">
        <a href="/resources/design/style-guide">Front end style guide</a>
      </h2>

      <p>Grids, typography, colours, forms, icons, tables, pages and more</p>

    </div>

  </div>

</main>

{% endblock %}


